* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.center-circle-avatar { /* sun */
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  transform-origin: 50% 50%;
  border: 3px solid white; /* Додано рамку навколо кожної планети */
}


.circle-container {
  /* position: relative;
  width: 200px;
  height: 100px; */
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* background-color: red; */
  border: 3px solid white; /* Додано рамку навколо кожного кола */
}

.circle:first-child {
   border: 200px solid rgba(228, 123, 123, 0.5);
}

.circle:nth-child(2) {  
  
  border: 150px solid rgba(228, 123, 123, 0.7);
}

.circle:nth-child(3) {  
    border: 100px solid rgba(228, 123, 123, 1);
}

.circle:nth-child(4) {  
    width: 100px;
    height: 100px;
}
/* 
.circle:last-child {
  left: 75%; 
  background-color: yellow; 
} */

  
  .circle-background-first {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  transform-origin: 50% 50%;
  border: 10px solid rgba(228, 123, 123, 1);
}

/* .center-circle-avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  background-color: yellow;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 15px 5px rgba(255, 255, 0, 0.8);
} */

/* .planet {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px; 
  height: 60px;  
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  transform-origin: 100% 50%;
  animation: orbit 20s linear infinite;
  border: 3px solid white;
} */

.orbit1 {
  animation-duration: 10s;
  width: 60px;
  height: 60px;
}

.orbit2 {
  animation-duration: 15s;
  width: 70px;
  height: 70px;
}

.orbit3 {
  animation-duration: 25s;
  width: 80px;
  height: 80px;
}

.orbit4 {
  animation-duration: 30s;
  width: 90px;
  height: 90px;
} */

/* .container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: rgb(244, 143, 143);
  overflow: hidden;
} */

.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background: yellow;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.planet {
  position: absolute;
  width: 50px;
  height: 50px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  z-index: 3;
}